<div style="width:50%;">
<div class="page-header">
<h1>Edit To-do "{{todo.task}}"</h1>
</div>

<form name="editMovieForm">
	<div class="field">
	<label>Task</label>
	<div id="group_list">
	<input name="todotask" type="text" placeholder="Type the Todo Task..." ng-model='todo.task' required class='form-control' /></div>
	<span ng-show="editTodoForm.todotask.$error.required" class="help-inline">Required</span></div>
	<div class="field">
	<label>Description</label>
	<div id="group_list">
	<textarea class="input-xxlarge form-control" ng-model='todo.description' class="help-inline" required placeholder="Add task Description here... " style="height:115px;"/></div></div>
	<button type="submit" class="btn btn-primary" ng-click='update(todo)' ng-disabled="editTodoForm.$invalid">Update Todo</button><a href="#/todos" class='btn btn-default' style="margin-left:2%;">Cancel</a>
</form>

</div>