<div style="width:50%;">
<div class="page-header">
<h1>Edit To-do "{{todo.task}}"</h1>
</div>

<form name="editTodoForm">
	<div class="field">
	<label>Organization</label>
	<div id="group_list">
	<select data-ng-model="todo.organization_id" data-ng-options="organization.id as organization.name for organization in organizations" name="organization" class='form-control' required data-ng-init="todo.org=organizations[0].id" data-ng-change="change()">
		<option value=""> --Select Organization--</option>
	</select>
	</div>
	<span data-ng-show="editTodoForm.organization.$error.required" class="help-inline">Required</span></div>
	<div class="field">
	<label>Person</label>
	<div id="group_list">
	<select data-ng-model="todo.person_id" data-ng-options="person.id as person.name for person in pple" name="person" class='form-control' required>
	<option value=""> --Select Person--</option>
	</select>
	</div>
	<span data-ng-show="editTodoForm.person.$error.required" class="help-inline">Required</span></div>
	<div class="field">
	<label>Task</label>
	<div id="group_list">
	<input name="todotask" type="text" placeholder="Type the Todo Task..." data-ng-model='todo.task' required class='form-control' /></div>
	<span data-ng-show="editTodoForm.todotask.$error.required" class="help-inline">Required</span></div>
	<div class="field">
	<label>Description</label>
	<div id="group_list">
	<textarea class="input-xxlarge form-control" data-ng-model='todo.description' class="help-inline" required placeholder="Add task Description here... " style="height:115px;" name='description'/></div>
	<span data-ng-show="editTodoForm.description.$error.required" class="help-inline">Required</span></div>
	<button type="submit" class="btn btn-primary" data-ng-click='update(todo)' data-ng-disabled="editTodoForm.$invalid">Update Todo</button><a href="#/todos" class='btn btn-default' style="margin-left:2%;">Cancel</a>
</form>


</div>


<style>
	.help-inline{
		color: red;	
	}
</style>
