<div class="page-header">
  <h1>WELCOME TO DO SOME CRUD OPERATIONS</h1>
</div>

<%= link_to image_tag("home.jpg", :class => "img-responsive"), organizations_path, title: "Click here to view Organization" %>
